extends base

block content
  main.main
    .manage-page
      .manage-header
        h2.heading-secondary Manage Reviews
        p.manage-subtitle= `${reviews.length} reviews total`

      if reviews.length === 0
        .manage-empty
          svg.manage-empty__icon
            use(xlink:href='/img/icons.svg#icon-star')
          p.manage-empty__text No reviews found.

      else
        .manage-table
          .manage-table__head
            .manage-table__row
              span.manage-table__cell.manage-table__cell--header.manage-table__cell--grow Tour
              span.manage-table__cell.manage-table__cell--header User
              span.manage-table__cell.manage-table__cell--header Rating
              span.manage-table__cell.manage-table__cell--header.manage-table__cell--grow Review
              span.manage-table__cell.manage-table__cell--header Actions

          .manage-table__body
            each review in reviews
              .manage-table__row(data-id=`${review._id}`)
                span.manage-table__cell.manage-table__cell--grow.manage-table__cell--name= review.tour ? review.tour.name : 'Deleted Tour'
                span.manage-table__cell= review.user ? review.user.name : 'Deleted User'
                span.manage-table__cell
                  span.manage-rating
                    each star in [1,2,3,4,5]
                      span(class=star <= review.rating ? 'manage-star--active' : 'manage-star--inactive') ★
                span.manage-table__cell.manage-table__cell--grow.manage-table__cell--review= review.review.length > 80 ? review.review.substring(0, 80) + '...' : review.review
                span.manage-table__cell.manage-table__cell--actions
                  button.manage-btn.manage-btn--delete.btn-delete-resource(data-resource='reviews', data-id=`${review._id}`, title='Delete')
                    svg: use(xlink:href='/img/icons.svg#icon-trash-2')
